{% extends 'base.html.twig' %}

{% block title %}Bag{% endblock %}

{% block body %}
    <h1>Bag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bag.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bag.description }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ bag.img }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ bag.createdAt ? bag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
<section>

{% if bag.status.name == 'disponible' and app.user != bag.owner %}
    <form method="post" action="{{ path('app_bag_request', {id: bag.id}) }}">
        <button type="submit">Demander l'emprunt</button>
    </form>
{% endif %}

{% if bag.status.name == 'demandé' and app.user == bag.owner %}
    <form method="post" action="{{ path('app_bag_accept', {id: bag.id}) }}">
        <button type="submit">Accepter</button>
    </form>
    <form method="post" action="{{ path('app_bag_refuse', {id: bag.id}) }}">
        <button type="submit">Refuser</button>
    </form>
{% endif %}

{% if bag.status.name == 'indisponible' and app.user == bag.owner %}
    <form method="post" action="{{ path('app_bag_return', {id: bag.id}) }}">
        <button type="submit">Marquer comme retourné</button>
    </form>
{% endif %}


   </section>

    <a href="{{ path('app_bag_index') }}">back to list</a>

    <a href="{{ path('app_bag_edit', {'id': bag.id}) }}">edit</a>

    {{ include('bag/_delete_form.html.twig') }}
{% endblock %}
